#main {
    background-color: #75cff0;
}

#graph-bio {
    height: 100vh;
    width: 100%;
    position: relative;
}

.div-temp {
   bottom: 5%;
   left: 15%;
   width: 20%;
   height: 65%;
   position: absolute;
   z-index: 10;
   border-radius: 10px;
   background-color: white;
   font-size: 10px;
   padding: 15px;
}

#bar-temp {
    height: 300px;
}

h1 {
    font-size:20px;
}

#bar-temp {
    overflow:auto;
}

.dropdown {
    position:absolute;
    z-index: 10;
    width: 25%;
    top: 5%;
    left: 15%;
}

